// 全局变量
$font-size-root: 14px;

// v-label
$label-font-size: 14px;

// v-input
$input-font-size: 14px;

// breadcrumbs
$breadcrumbs-item-large-font-size: 18px;

// table-expanded
$data-table-expanded-content-box-shadow: none;